{% extends 'restaurant/base.html' %}
{% block content %}
<h2>Menu List</h2>
<a href="/menu/add/" class="btn btn-primary">Add Menu Item</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        {% for item in menu_items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.available }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}